x-generator: NSwag v13.19.0.0 (NJsonSchema v10.9.0.0 (Newtonsoft.Json v10.0.0.0))
swagger: '2.0'
info:
  title: My Title
  version: 1.0.0
host: csongebence.hu
schemes:
  - https
  - http
paths:
  /api/recipes/all/{userName}:
    get:
      tags:
        - Recipes
      operationId: Recipes_GetAllRecipes
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: userName
          in: path
          required: true
          x-nullable: false
      responses:
        '200':
          x-nullable: false
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Recipe'
  /api/recipes/single/{recipeId}:
    get:
      tags:
        - Recipes
      operationId: Recipes_GetRecipe
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: integer
          name: recipeId
          in: path
          required: true
          format: int32
          x-nullable: false
      responses:
        '200':
          x-nullable: false
          description: ''
          schema:
            $ref: '#/definitions/Recipe'
  /api/recipes:
    post:
      tags:
        - Recipes
      operationId: Recipes_CreateRecipe
      consumes:
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - name: recipeDto
          in: body
          required: true
          schema:
            $ref: '#/definitions/Recipe'
          x-nullable: false
      responses:
        '200':
          x-nullable: false
          description: ''
          schema:
            $ref: '#/definitions/Recipe'
    put:
      tags:
        - Recipes
      operationId: Recipes_UpdateRecipe
      consumes:
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - name: recipeToUpdate
          in: body
          required: true
          schema:
            $ref: '#/definitions/Recipe'
          x-nullable: false
      responses:
        '200':
          x-nullable: false
          description: ''
          schema:
            $ref: '#/definitions/Recipe'
  /api/recipes/delete/{recipeId}:
    delete:
      tags:
        - Recipes
      operationId: Recipes_DeleteRecipe
      parameters:
        - type: integer
          name: recipeId
          in: path
          required: true
          format: int32
          x-nullable: false
      responses:
        '200':
          description: ''
  /clear-db:
    delete:
      tags:
        - Recipes
      operationId: Recipes_ClearDb
      responses:
        '200':
          description: ''
definitions:
  Recipe:
    type: object
    required:
      - id
      - ownerUsername
      - name
      - description
    properties:
      id:
        type: integer
        format: int32
      ownerUsername:
        type: string
      name:
        type: string
      description:
        type: string
